@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

@layer base {
  html {
    @apply scroll-smooth;
  }
}

*{
  font-family: 'Fira Code', monospace;
}
.leaflet-popup-content{
  font-family: 'Fira Code', monospace;
}

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url('https://res.cloudinary.com/dakerpersonalspace/image/upload/v1708481454/sfkvhvvppwgunoth0yqt.jpg'); 
  background-size: cover;
  background-position: center;
  filter: blur(20px);
}



@media (max-width: 639px){
  .parent :nth-child(1){
    transform: translateY(25px);
  }
  .parent :nth-child(2) {
    transform: translateY(15px);
  }
}



