@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');


*{
  font-family: 'Fira Code', monospace;
}
.leaflet-popup-content{
  font-family: 'Fira Code', monospace;
}
.leaflet-container a{
  color: #706f2b;
}

@media (max-width: 639px){
  .parent :nth-child(1){
    transform: translateY(25px);
  }
  .parent :nth-child(2) {
    transform: translateY(15px);
  }
}

