#carouselExampleControls.relative(data-te-carousel-init='' data-te-ride='carousel')
  // Carousel items
  .relative.w-full.overflow-hidden(class="after:clear-both after:block after:content-[''] overflow-hidden h-96")
    div.relative.float-left.w-full.transition-transform.ease-in-out(class='-mr-[100%] duration-[600ms] motion-reduce:transition-none' data-te-carousel-item='' data-te-carousel-active='')
      img.block.w-full(src=propiedad.imagenes[0].ruta alt='Wild Landscape' class="h-96")
    
    - var sinPrimeraImagen = propiedad.imagenes.filter((elem, i) => i !== 0)
    each imagen in sinPrimeraImagen
      .relative.float-left.hidden.w-full.transition-transform.ease-in-out(class='-mr-[100%]  duration-[600ms] motion-reduce:transition-none h-[400px]' data-te-carousel-item='')
        img.block.w-full(src= imagen.ruta class="w-[100%] h-96" alt= propiedad.titulo)

  // Carousel controls - prev item
  button.absolute.bottom-0.left-0.top-0.flex.items-center.justify-center.border-0.bg-none.p-0.text-center.text-white.opacity-50.transition-opacity.duration-150(class='z-[1] w-[15%] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] hover:text-white hover:no-underline hover:opacity-90 hover:outline-none focus:text-white focus:no-underline focus:opacity-90 focus:outline-none motion-reduce:transition-none' type='button' data-te-target='#carouselExampleControls' data-te-slide='prev')
    span.inline-block.h-8.w-8
      svg.h-6.w-6(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke-width='1.5' stroke='currentColor')
        path(stroke-linecap='round' stroke-linejoin='round' d='M15.75 19.5L8.25 12l7.5-7.5')
    span(class='!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]') Previous
  // Carousel controls - next item
  button.absolute.bottom-0.right-0.top-0.flex.items-center.justify-center.border-0.bg-none.p-0.text-center.text-white.opacity-50.transition-opacity.duration-150(class='z-[1] w-[15%] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] hover:text-white hover:no-underline hover:opacity-90 hover:outline-none focus:text-white focus:no-underline focus:opacity-90 focus:outline-none motion-reduce:transition-none' type='button' data-te-target='#carouselExampleControls' data-te-slide='next')
    span.inline-block.h-8.w-8
      svg.h-6.w-6(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke-width='1.5' stroke='currentColor')
        path(stroke-linecap='round' stroke-linejoin='round' d='M8.25 4.5l7.5 7.5-7.5 7.5')
    span(class='!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]') Next