extends ../layout/admin

block contenido
  .py-10
    h1.text-4xl.my-10.font-extrabold.text-center Bienes
      span.font-normal Raices
    h2.text-center.text-2xl.font-semibold= pagina
    .flex.pt-10
      a(class="bg-[#4C4B16] px-10 py-2 hover:focus:outline-none focus:ring-4 focus:ring-opacity-75 transform hover:scale-105 text-xs md:text-base focus:ring-yellow-200 w-full text-center md:w-auto" href="/propiedades/crear").py-2.px-10.rounded-md.text-white.font-bold Publicar una propiedad