extends ../layout/admin

block styles
  link(rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css")
    

block contenido
  .py-5
    h1.text-4xl.my-10.font-extrabold.text-center Bienes
      span.font-normal Raices
    h2.text-center.text-2xl.font-semibold= pagina


    div(class="bg-white shadow py-8 px-4 md:px-10 rounded-md mx-auto max-w-4xl my-10")
      if errores
        each error in errores
          .text-center.text-white.bg-red-600.mx-auto.my-1.max-w-2xl.font-semibold
            p.text-normal= error.msg
      form(method="POST" action="/propiedades/crear").space-y-8
        input(type="hidden", name="_csrf" value= csrfToken)
        input(class="bg-[#4C4B16] hover:scale-[101%] rounded-md px-10 py-2 cursor-pointer text-white uppercase w-full" type="submit", value="Publicar Propiedad")  

block scripts
   
