extends ../layout/admin

block styles
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.css")
    

block contenido
  .py-5
    h1.text-4xl.my-10.font-extrabold.text-center Bienes
      span.font-normal Raices
    h2.text-center.text-2xl.font-semibold= pagina


    div(class="bg-white shadow py-8 px-4 md:px-10 rounded-md mx-auto max-w-4xl my-10")
      if errores
        each error in errores
          .text-center.text-white.bg-red-600.mx-auto.my-1.max-w-2xl.font-semibold
            p.text-normal= error.msg
      form(id="imagen" class="dropzone border-dashed border-2 w-full min:h-96 h-auto rounded flex-col justify-center items-center space-y-8 font-semibold" method="POST" action="/propiedades/crear")
        input(type="hidden", name="_csrf" value= csrfToken)
      input(class="bg-[#4C4B16] hover:scale-[101%] rounded-md px-10 py-2 cursor-pointer text-white uppercase w-full mt-5" type="submit", value="Publicar Propiedad")  

block scripts
   script(src="/js/agregarImagen.js") 
