extends ../layout/app
include ../templates/mensajeComponente

block contenido
  h1.text-center.text-2xl.font-semibold.text-secondary.mt-10 #{pagina} de "#{propiedad.titulo}"

  a.text-sm.rounded-full(href="/propiedades" class="hover:text-accent underline decoration-2 underline-offset-2") 
    | <- Regresar

  article.mx-auto.flex.justify-start.py-10.flex-col.w-full(class="md:container")
    if propiedad.mensajes.length > 0
      .warning-container.mb-5
        .warning-message.bg-yellow-100.text-yellow-800.p-4.rounded-md.shadow-md.text-xs
          p.text-center.font-bold 锔 Advertencia de Seguridad y Exenci贸n de Responsabilidad:
          ul.list-disc.ml-6
            li Por motivos de seguridad, no compartas informaci贸n confidencial en este chat.
            li Este servicio se ofrece a tu propia discreci贸n y riesgo.
            li No nos hacemos responsables de da帽os, perjuicios o consecuencias del uso de la informaci贸n proporcionada en este chat.
          p.mt-5 Este servicio brinda asistencia general y no debe sustituir el asesoramiento profesional adecuado. Si tienes preguntas sobre nuestra exenci贸n de responsabilidad o necesitas asesoramiento espec铆fico, no dudes en preguntar. Gracias por tu comprensi贸n y colaboraci贸n!
      div.w-fit.space-y-2
        each contenidoMensaje in propiedad.mensajes
          +mensajeCard(contenidoMensaje.mensaje, contenidoMensaje.usuario.nombre, contenidoMensaje.createdAt, contenidoMensaje.usuario.email)
    else
      p.text-secondary.w-full.text-center.text-xl(class="mt-24") No tienes mensajes nuevos 
         
  //- pre= JSON.stringify(propiedad, undefined, 2)
