extends ../layout/app

block contenido
  .flex.relative.justify-center
    img(src=`/uploads/${propiedad.imagen}`, alt=`${propiedad.titulo}` class="h-[40em] rounded-tl-3xl rounded-br-3xl w-full")
    div(class="text-[#6e6d21] p-2 bg-white/30 w-72 text-center h-max rounded-full backdrop-blur-xl text-md shadow-lg font-bold absolute left-10 top-5 z-10 flex")
      div.flex.justify-center.items-center.border-r-2.border-white.border-dotted.px-3
        svg(xmlns="http://www.w3.org/2000/svg" class="tranform   scale-150" preserveAspectRatio="none" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-5")
          path(stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25")= propiedad.categoria.nombre
      p= pagina

