extends ../layout/app

block contenido
  .flex.relative.justify-center
    img(src=`/uploads/${propiedad.imagen}`, alt=`${propiedad.titulo}` class="h-[40em] rounded-tl-3xl rounded-br-3xl")
  div(class="container flex justify-center items-center flex-col mx-auto w-full")
    h1.text-4xl.text-center.font-bold.w-full= pagina