doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Bienes Raices | #{pagina}
    block styles
    link(rel="stylesheet", href="/css/app.css")
  body(class=" min-h-screen bg-white" )
    include includes/header-app
    main(class="md:container mx-auto px-4 md:px-2")
      block contenido

    block scripts
    script(type="module" src="/js/tw-elements.js")