doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Bienes Raices | #{pagina}
    link(rel='icon' type='image/png' href='https://res.cloudinary.com/dakerpersonalspace/image/upload/v1708389206/rhpe9jrbie8iwahohe52.png')
    link(rel="stylesheet", href="/css/app.css")
    block styles
  body(class="min-h-screen bg-primary/40")
    include includes/header-app
    main(class="mx-auto md:container px-4 lg:px-2")
      block contenido

    script(type="module" src="/js/tw-elements.js")
    block scripts