header(class="sm:bg-transparent bg-[#898121]")
  div(class="justify-evenly md:justify-around 2xl:justify-between container mx-auto flex items-center")
      h1(class="md:text-2xl text-xl text-[#615a18] font-extrabold text-center") Bienes 
        span.font-normal Raices
      nav(class="my-5 text-sm hidden sm:!flex md:items-center sm:gap-4 font-bold text-[#615a18]")
        a(href="/auth/registro") Crear cuenta
        a(href="/auth/login" class=" bg-[#4C4B16] text-white px-10 py-2 rounded hover:focus:outline-none focus:ring-4 focus:ring-opacity-75 transform hover:scale-105 text-xs md:text-base focus:ring-yellow-200") Iniciar sesión

div(class="bg-[#4C4B16] py-3 hidden lg:block")
  nav.container.mx-auto.flex.justify-between
    a(href="/catgorias/1" class="text-sm font-bold uppercase text-white") Casas
    a(href="/catgorias/2" class="text-sm font-bold uppercase text-white") Departamentos
    a(href="/catgorias/3" class="text-sm font-bold uppercase text-white") Bodegas
    a(href="/catgorias/4" class="text-sm font-bold uppercase text-white") Terrenos
    a(href="/catgorias/4" class="text-sm font-bold uppercase text-white") Cabañas