header(class="py-2 sm:bg-transparent bg-[#898121] w-full")
  div(class="justify-between container px-2 mx-auto flex items-center h-20")
      a(class="md:text-2xl text-xl text-[#4C4B16] font-extrabold" href="/") Bienes 
        span.font-normal Raices
      nav(class="my-5 text-sm hidden sm:!flex md:items-center sm:gap-4 font-bold text-[#4C4B16] gap-x-2")
        a(href="/auth/registro" class="border-2 border-[#4C4B16] rounded-lg px-3 py-1 text-[#4C4B16] hover:scale-105") Crear cuenta
        a(href="/auth/login" class="border-2 border-[#4C4B16] rounded-lg px-3 py-1 text-[#4C4B16] hover:scale-105") Iniciar sesión
include search-header
