nav.flex-wrap.flex.w-full.items-center.justify-between.py-2.shadow-md(class='lg:justify-start lg:py-4 bg-bodytext/30')
  .flex.w-full.flex-wrap.items-center.justify-between.px-3
    // Hamburger button for mobile view
    button.block.border-0.bg-transparent.px-2(class='hover:no-underline hover:shadow-none focus:no-underline focus:shadow-none focus:outline-none focus:ring-0 lg:hidden' type='button' data-te-collapse-init='' data-te-target='#navbarSupportedContent12' aria-controls='navbarSupportedContent12' aria-expanded='false' aria-label='Toggle navigation')
      span(class='h-14 text-secondary')
        include ../../svg/menuHamburgesaSVG
    // Collapsible navigation contain
    #navbarSupportedContent12.hidden.flex-grow.items-center(class='!visible basis-[100%] lg:!flex lg:basis-auto' data-te-collapse-item='')
      // Logo
      a.mb-4.ml-2.mr-5.mt-3.flex.items-center(class='lg:mb-0 lg:mt-0' href='/')
        img(src='https://res.cloudinary.com/dakerpersonalspace/image/upload/v1708389207/i4kxygg7csubalo2tfwe.png' alt='TE Logo' loading='lazy' class="h-11 rounded-full hover:scale-105 hover:border-4 border-secondary")
      ul.list-style-none.mr-auto.flex.flex-col.pl-0(class='lg:flex-row' data-te-navbar-nav-ref='')
        li.mb-4(class='lg:mb-0 lg:pr-4' data-te-nav-item-ref='')
          a.transition.duration-200(class='text-xl hover:ease-in-out font-semibold text-secondary hover:text-accent -700 focus:outline-none focus:ring focus:ring-secondary px-2 rounded' href='/propiedades/explorar' data-te-nav-link-ref='') Explorar
        li.mb-4(class='lg:mb-0 lg:pr-4' data-te-nav-item-ref='')
          a.transition.duration-200(class='text-sm hover:ease-in-out font-semibold text-secondary hover:text-accent  focus:outline-none focus:ring focus:ring-secondary px-2 rounded' href="/categoria/1" data-te-nav-link-ref='') Casas
        li.mb-4(class='lg:mb-0 lg:pr-4' data-te-nav-item-ref='')
          a.transition.duration-200(class='text-sm hover:ease-in-out font-semibold text-secondary hover:text-accent  focus:outline-none focus:ring focus:ring-secondary px-2 rounded' href="/categoria/2" data-te-nav-link-ref='') Apartamentos
        li.mb-4(class='lg:mb-0 lg:pr-4' data-te-nav-item-ref='')
          a.transition.duration-200(class='text-sm hover:ease-in-out font-semibold text-secondary hover:text-accent  focus:outline-none focus:ring focus:ring-secondary px-2 rounded' href="/categoria/3" data-te-nav-link-ref='') Bodegas
        li.mb-4(class='lg:mb-0 lg:pr-4' data-te-nav-item-ref='')
          a.transition.duration-200(class='text-sm hover:ease-in-out font-semibold text-secondary hover:text-accent  focus:outline-none focus:ring focus:ring-secondary px-2 rounded' href="/categoria/4" data-te-nav-link-ref='') Terrenos
        li.mb-4(class='lg:mb-0 lg:pr-4' data-te-nav-item-ref='')
          a.transition.duration-200(class='text-sm hover:ease-in-out font-semibold text-secondary hover:text-accent  focus:outline-none focus:ring focus:ring-secondary px-2 rounded' href="/categoria/5" data-te-nav-link-ref='') Cabañas

        
    .relative.flex.items-center
      if usuario
        a.mr-4.transition.duration-200(class='text-secondary font-semibold hover:ease-in-out hover:text-accent motion-reduce:transition-none' href='/propiedades')
          span(class='h-12')
            include ../../svg/houseSVG
        .relative(data-te-dropdown-ref='' data-te-dropdown-alignment='end')
          // Second dropdown trigger
          a#dropdownMenuButton2.hidden-arrow.flex.items-center.whitespace-nowrap.transition.duration-150.ease-in-out(class='motion-reduce:transition-none' href='#' role='button' data-te-dropdown-toggle-ref='' aria-expanded='false')
            img.rounded-full(src='https://tecdn.b-cdn.net/img/new/avatars/2.jpg' style='height: 25px; width: 25px' alt='' loading='lazy')
          ul.absolute.float-left.m-0.hidden.min-w-max.list-none.overflow-hidden.rounded-lg.border-none.bg-white.bg-clip-padding.text-left.text-base.shadow-lg(class='z-[1000] [&[data-te-dropdown-show]]:block' aria-labelledby='dropdownMenuButton2' data-te-dropdown-menu-ref='')
            // Second dropdown menu items
            li
              a.block.w-full.whitespace-nowrap.bg-transparent.px-4.py-2.text-sm.font-normal(class='hover: active:no-underline disabled:pointer-events-none disabled:bg-transparent disabled: over:bg-white/30' href='#' data-te-dropdown-item-ref='') Perfil
            li
              a.block.w-full.whitespace-nowrap.bg-transparent.px-4.py-2.text-sm.font-normal(class='hover: text-secondary hover:text-accent' href='/auth/logout' data-te-dropdown-item-ref='') Cerrar Sesión
      else
        a.w-fit.select-none.rounded-lg.py-3.px-6.text-center.text-xs.font-bold.uppercase.text-white.shadow-md.transition-all(class='bg-accent bg-accent/80 hover:shadow-lg hover:shadow-accent focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none focus:outline-none focus:ring focus:ring-secondary' href="/auth/login") Publica gratis!
