header(class="sm:bg-transparent bg-[#898121]")
  div(class="justify-evenly md:justify-around 2xl:justify-between container mx-auto flex items-center")
      a(class="md:text-2xl text-xl text-[#615a18] font-extrabold text-center" href="/") Bienes 
        span.font-normal Raices
      nav(class="my-5 text-sm hidden sm:!flex md:items-center sm:gap-4 font-bold text-[#615a18] gap-x-2")
        a(href="/auth/registro" class="border-2 rounded-lg px-2 py-0.5 border-[#4C4B16]/30 hover:scale-105") Crear cuenta
        a(href="/auth/login" class="border-2 rounded-lg px-2 py-0.5 border-[#4C4B16]/30 hover:scale-105") Iniciar sesión

header(class="border-2 border-y-[#4C4B16] hidden sm:block py-3")
  nav(class="container  mx-auto flex justify-center gap-5")
    a(href="/categoria/1" class="text-sm font-bold uppercase text-[#4C4B16]") Casas
    a(href="/categoria/2" class="text-sm font-bold uppercase text-[#4C4B16]") Departamentos
    a(href="/categoria/3" class="text-sm font-bold uppercase text-[#4C4B16]") Bodegas
    a(href="/categoria/4" class="text-sm font-bold uppercase text-[#4C4B16]") Terrenos
    a(href="/categoria/4" class="text-sm font-bold uppercase text-[#4C4B16]") Cabañas
