header(class="py-2 sm:bg-transparent bg-lime-800 w-full")
  div(class="justify-between container px-2 mx-auto flex items-center h-16")
      a(class="md:text-2xl text-xl text-lime-800 font-extrabold" href="/") Bienes 
        span.font-normal Raices
      include navbar
      
include search-header