header(class="py-2 sm:bg-transparent bg-[#898121] w-full")
  div(class="justify-between container px-2 mx-auto flex items-center h-20")
      a(class="md:text-2xl text-xl text-[#4C4B16] font-extrabold" href="/") Bienes 
        span.font-normal Raices
      include navbar
      
include search-header