header(class="border-2 border-y-[#142906] hidden sm:block py-3 w-full px-2")
  div(class="container mx-auto flex justify-between gap-6")
    nav.space-x-2
      a(href="/categoria/1" class="text-xs md:text-sm font-bold uppercase text-[#85A86D] hover:text-[#142906] transition-all duration-150") Casas
      |  /
      a(href="/categoria/2" class="text-xs md:text-sm font-bold uppercase text-[#85A86D] hover:text-[#142906] transition-all duration-150") Apartamentos
      |  /
      a(href="/categoria/3" class="text-xs md:text-sm font-bold uppercase text-[#85A86D] hover:text-[#142906] transition-all duration-150") Bodegas
      |  /
      a(href="/categoria/4" class="text-xs md:text-sm font-bold uppercase text-[#85A86D] hover:text-[#142906] transition-all duration-150") Terrenos
      |  /
      a(href="/categoria/5" class="text-xs md:text-sm font-bold uppercase text-[#85A86D] hover:text-[#142906] transition-all duration-150") Cabañas
    form(action="/buscador" method="POST" class="flex gap-4 items-center")
      input(type="text", id="termino" name="termino" placeholder="Buscar Propiedades" class="p-2 rounded-lg shadow text-xs")

      input.w-fit.select-none.rounded-lg.py-3.px-6.text-center.text-xs.font-bold.uppercase.text-white.shadow-md.transition-all(type="submit", class='bg-[#142906] shadow-[#142906]/20 hover:shadow-lg hover:shadow-[#142906]/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none')